body {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  padding: 2em;
}

.App-title {
  text-align: center;
  background-color: black;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  column-gap: 10px; /*gap between the cards horizontally*/
  row-gap: 35px; /*gap between the cards vertically*/
  margin-left: 1em; /*Move the cards over to the right*/
  margin-right: 1em;
}

#form-header {
  color: white;
}

hr {
  margin-top: 0;
  margin-bottom: 10px;
  background-color: white;
}

.form-control {
  margin-right: 5px;
}

.form-container {
  margin-bottom: 25px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.number-of-likes {
  font-weight: bold;
}

.about {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
