body {
  font-family: "Courier New", Courier, monospace;
}

.App-title {
  text-align: center;
  background-color: black;
  color: white;
}

.btn-outline-primary:hover svg {
  color: white;
}
/* button icons turn white when hovers */
