body {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  padding: 15px;
}

.App-title {
  text-align: center;
  background-color: black;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
}

/* wrapper CONTAINS item which CONTAINS child*/
/* .wrapper > div:nth-child(odd) {
  background-color: greenyellow;
  position: relative;
  border: black 2px solid;
} */

/*CSS below for image swapping effects. This was used in conjunction with conditional rendering to obtain the desired effect*/
.img-container {
  position: relative;
  width: 100%;
}

.img-container:hover {
  cursor: pointer;
  opacity: 0.9;
}

.image {
  display: block;
  border: black 1px solid;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 1s ease;
  background-color: black;
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 1.5vw; /*Dynamically changes the font size based on browser width*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* button icons turn white when hovers */
.btn-outline-primary:hover svg {
  color: white;
}

.number-of-likes {
  color: white;
}

.expand-likes-container {
  padding-left: 2px;
  padding-top: 10px;
}
